.mi-clase {
    background-color: #c9e9e6;
    text-align: center;
    padding: 20px;
}

body {
    font-family: Arial, sans-serif;

}
h1 {
    font-family: "Coiny", sans-serif;
    font-size: 40px;
    font-weight: 400;
    font-style: normal;
    color: #393939;
}
h2 {
    font-family: "Chicle", system-ui;
    line-height: 1;
    font-size: 32px;
    font-weight: 400;
    font-style: normal;
    color: #35728a;
}
p {
    font-family: Truculenta, system-ui;
    font-size: 22px;
    line-height: 1;
    color: #2f2f2f;
}
a {
    font-family: Truculenta, system-ui;
    font-size: 22px;
    line-height: 1;
    color: #b271dd;
    text-decoration: none;
}
li {
    font-family: Truculenta, system-ui;
    font-size: 20px;
    line-height: 1.5;
    color: #2f2f2f;
}
a:hover {
    text-decoration: underline;
}

.caja-info {
    background-color: #6fa2ef9d;
    border: 2px solid #bf82c6;
    padding: 15px;
    margin: 20px auto;
    width: 80%;
}

